{% extends "layout.html" %}
{% block content %}

    <style>
        table,
        th,
        td {
          padding: 10px;
          border: 1px solid black;
          border-collapse: collapse;
        }
      </style>
<br><br><br><br><br><br>
<table>
        <tr>
            <td>Age</td>
            <td>f2</td>
            <td>f1</td>
            <td>f2</td>
            <td>f1</td>
            <td>f2</td>
            <td>f1</td>
            <td>f2</td>
            <td>f1</td>
            <td>f2</td>
            <td>f1</td>
            <td>f2</td>
            <td>f1</td>
            <td>f2</td>
            <td>f1</td>
            <td>f2</td>
        </tr>
    {% for row in new_data_list %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
            <td>{{ row[13] }}</td>
            <td>{{ row[14] }}</td>
            <td>{{ row[15] }}</td>
            <td>{{ row[16] }}</td>
            <td>{{ row[17] }}</td>
            <td>{{ row[18] }}</td>
            <td>{{ row[19] }}</td>


        </tr>
    {% endfor %}

</table>

{% endblock %}